.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .grid-item {
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        .grid-desc {
            padding: 0.5em;
            background-color: #d2d2d2;
            border-radius: 10px 10px 0 0;
        }
        .grid-image {
            width: 100%;
            height: 100%;
            border-radius: 0 0 10px 10px;
        }
    }
}
